ADMIN_PASSWORD=
ADMIN_USER=
CANCELAMENTO_NOTIFICAR_CLIENTE=true
CANCELAMENTO_REAL_ATIVO=true
CANCELAMENTO_REPOR_ESTOQUE=true
CHECKOUT_TOKEN_SECRET=
CHECKOUT_TOKEN_TTL_SECONDS=300
CORS_ORIGINS=https://gdlp.com.br,https://www.gdlp.com.br,https://demobloqueiocpf.lojavirtualnuvem.com.br,https://www.guadalupestore.com.br,https://guadalupestore.lojavirtualnuvem.com.br
FLASK_SECRET_KEY=
LGPD_RETENCAO_DIAS=180
MODO_AUTOMATICO=true
NUVEMSHOP_ACCESS_TOKEN=
NUVEMSHOP_APP_ID=
NUVEMSHOP_APP_SECRET=
NUVEMSHOP_STORE_ID=
NUVEMSHOP_USER_AGENT=Bloqueio CPF (contato@guadalupestore.com.br)
RATELIMIT_STORAGE_URI=memory://
